include temp/header.pug
	- var slider_cont_arr = []
	- slider_cont_arr.push({'title': 'We Are Awesome Creative Agency', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.", "url":"#1"} )
	- slider_cont_arr.push({'title': 'We Are Awesome Creative Agency', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.", "url":"#2"})
	- slider_cont_arr.push({'title': 'We Are Awesome Creative Agency', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.", "url":"#3"})
	- slider_cont_arr.push({'title': 'We Are Awesome Creative Agency', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.", "url":"#3"})
	
	- var infg_arr = []
	- infg_arr.push({'title': 'WEB DESIGN & DEVELOPMENT', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.", "url":"/images/s1.png"} )
	- infg_arr.push({'title': 'BRANDING IDENTITY', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.", "url":"/images/s2.png"})
	- infg_arr.push({'title': 'MOBILE APP', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.", "url":"/images/s3.png"})
	- infg_arr.push({'title': 'SEARCH ENGINE OPTIMIZATION', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.", "url":"/images/s4.png"})
	- infg_arr.push({'title': 'GAME DEVELOPMENT', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.", "url":"/images/s5.png"})
	- infg_arr.push({'title': 'MADE WITH LOVE', "text": "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.", "url":"/images/s6.png"})
	
	-var team_arr = []
	- team_arr.push({'name': 'SEMF UCUK', "text": "CEO & FOUNDER", "url":"/images/p1.jpeg"} )
	- team_arr.push({'name': 'DIK ADALIN', "text": "ENGINEERING", "url":"/images/p1.jpeg"})
	- team_arr.push({'name': 'JENG KOL', "text": "desinger", "url":"/images/p1.jpeg"})
	- team_arr.push({'name': 'PET ROMAk', "text": "MARKETING", "url":"/images/p1.jpeg"})
	
.title_slider(style="background-image:url(/images/bnr_bg.jpg)").white_font_color
	each item, index in slider_cont_arr
		.item
			.slider_content
				.h1.after_line= item.title
				p= item.text
				a(href=""+item.url+"").btn learn more
.workspace.section_padding.text-center
	h2 EXPERTISE
	.subtitle.gray_color.after_line.grey Lorem ipsum dolor sit amet proin gravida nibh vel velit
	.infographics
		each infg_item, index in infg_arr
			.item
				.img
					img(src=""+infg_item.url+"")
				.title= infg_item.title
				.text= infg_item.text
.team_section(style="background-image:url(/images/bg2.jpg)").section_padding.white_font_color
	.workspace.text-center
		h2 MEET OUR AMAZING TEAM
		.subtitle.after_line.grey Lorem ipsum dolor sit amet proin gravida nibh vel velit
		.team_box
			each team_item, index in team_arr
				.team
					.ava(style="background-image:url("+team_item.url+")")
					.text_info
						.name= team_item.name
						.text= team_item.text
		p.
			Become part of our dream team, let’s join us !
		a(href="#").btn WE ARE HIRING
		
include temp/footer.pug